/*CSS 1*/
<<<<<<< HEAD
.card{
  width: 120px;

 }
 .card p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
 }
  

 .card  h5{
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
 }
=======

:root {
  --color-primary: #E25822;
  --color-white: #e9e9e9;
  --color-black: #000000;
  --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

>>>>>>> origin/Juan
body {
  font-family: sans-serif;
  background-color: #FFFFF0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FFFFF0;
}
<<<<<<< HEAD
/* Botão informações do produto(página comprar)*/
=======

>>>>>>> origin/Juan
.btn{
  color: #393c3d;
  font-size: 20px;
}

<<<<<<< HEAD
.custom-btn {
    background-color: #6B4B21;
    color: #fff;
    /* Outros estilos do botão (opcional) */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: #543814; /* Cor mais escura ao passar o mouse (opcional) */
}

/* Espaco botão contato */
#esp{
  margin-top: 10px;
}



=======
.logo {
  color: var(--color-white);
  font-size: 30px;
}

.logo span {
  color: var(--color-primary);
}

.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

.hero {
  height: calc(100vh - 80px);
  background-image: url(./bg.jpg);
  background-position: center;
}
>>>>>>> origin/Juan

/*CSS 2*/

.login-container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
}

<<<<<<< HEAD
#botao_login{ 
  color: white;
  background-color: #6B4B21;
}
=======
>>>>>>> origin/Juan
.plv{
  margin-top: 7px;
  margin-bottom: 5px;
  text-align: center;
}

#registro{
  color: #E25822;
  text-decoration: none;
<<<<<<< HEAD
  margin-left: 90px;
=======
>>>>>>> origin/Juan
}
#entrar{
  color: #E25822;
  text-decoration: none;
  margin-left: 109px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

<<<<<<< HEAD


.login-container input[type="submit"]:hover {
  background-color: #6B4B21;
=======
.login-container input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container input[type="submit"]:hover {
  background-color: #45a049;
>>>>>>> origin/Juan
}

.login-container p {
  text-align: center;
}

<<<<<<< HEAD
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

=======
>>>>>>> origin/Juan
.signup-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
<<<<<<< HEAD
  margin-top: 0px;
  margin-left: 0px;
=======
>>>>>>> origin/Juan
}

.signup-container h2 {
  text-align: center;
<<<<<<< HEAD
    margin-bottom: 20px;
=======
  margin-bottom: 20px;
>>>>>>> origin/Juan
}

.signup-container input[type="text"],
.signup-container input[type="tel"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.signup-container input[type="submit"] {
  width: 100%;
<<<<<<< HEAD
    background-color: #6B4B21;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.signup-container input[type="submit"]:hover {
  background-color: #6B4B21;
}

/*CSS Navbar*/
/* CSS personalizado para o navbar */
.custom-navbar {
  background-color: burlywood; 
  color: #fff; /* Texto branco */
}

=======
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signup-container input[type="submit"]:hover {
  background-color: #45a049;
}

/*CSS Navbar*/

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12.5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#navi a{
  position: relative;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

#navi a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(10px);
  transition: .5s;
}

#navi a:hover::after{
  transform: translate(0);
  opacity: 1;
}

.search-bar{
  width: 250px;
  height: 45px;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 6px;
  display: flex;
  align-items: center;    
}

.search-bar input{
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000000;
  padding-left: 10px;
}

.search-bar input::placeholder{
  color: #000000;
}
.search-bar button{
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar button i{
  font-size: 22px;
  color: #000000; 
}

/*CSS Imagem*/

.viking{
  margin-left: 86px;
}
.container{
  /* Centralizar na vertical e na horizontal */
  position:absolute;
  top: 50%;
  left: 20%;
}
>>>>>>> origin/Juan

/* CSS Cards */

#testec{
  margin-left: 10px;
}
#textc{
  color: white;
  font-size: 18px;
  margin-left: 37px;
}
#textc:hover{
  color: black;
}
.card-text{
  text-align: center;
}
#card-text{
  text-align: center;
  font-weight: bold;
}
.card-title{
  text-align: center;
  font-weight: bold;
}

/* CSS Página Compra */

#quad{
  border: 25px solid burlywood;
  background-color: white;
  width: 1100px;
  height: 1000px;
  margin-left: 420px;
  margin-top: 70px;
  border-radius: 25px;
}
.pedi{
  text-align: center;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: bold;
}
#img-pedi{
  width: 250px;
  margin-left: 10px;
}
.text-pedi{
  margin-left: 15px;
  display: inline-block;
  font-weight: bold;
}
#quad2{
  border: 5px solid burlywood;
}
#boleto-icon{
  margin-left: 10px;
}
#aviso-compra{
  margin-left: 100px;
  margin-top: 100px;
}
#botao-comp{
  color: white;
  margin-left: 940px;
}
#botao-car{
  color: white;
  margin-left: 830px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.span-comp{
  font-weight: bold;
  margin-left: 10px;
}
a{
  color: #000000;
<<<<<<< HEAD
}

/*CSS Cards Informação Conta Cliente*/

.col-lg-3{
  display: inline-block;
}
#cardi1{
  margin-left: 150px;
}
#cardi2{
  margin-left: 30px;
}
#cardi3{
  margin-left: 30px;
}
#cardi4{
  margin-left: 30px;
}
#cardi5{
  margin-left: 30px;
}
#min-conta{
  margin-left: 500px;
}
/*CSS Faixa Contato*/

.faixa-contact{
  height: 10px;
  width: 1987px;
  background-color: burlywood;
  margin-top: 40px;
  margin-left: -390px;
}
.faixa-contacto{
  height: 110px;
  width: 1900px;
  background-color: #6B4B21;
  margin-top: -90px;
  margin-left: -300px;
}
#insta{
  margin-left: 530px;
}
.insta{
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
}
.space{
  margin-top: 30px;
}
#face{
  margin-left: 530px;
}
.face{
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
}
#zap{
  margin-left: 530px;
}
.zap{
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
}
#mail{
  margin-left: 530px;
  margin-top: 180px;
}
.mail{
  display: inline-block;
  margin-top: -250px;
  font-size: 20px;
}

/*IMAGEM DO VIKING DA NAVBAR*/

#viking{
  width: 600px;
  height: 700px;
  margin-top: 30px;
}

.logo-img {
  width: 78px; /* Defina o tamanho desejado para a largura */
  height: auto; /* A altura será ajustada proporcionalmente com base na largura */
}
#h1-index{
  text-align: center;
} 

/* Efeito texto Navbar*/
.nav-link{
  position: relative;
  font-size: 20px;
  color: #6B4B21;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.nav-link::before{
  content: '';
  position: absolute;
  top: 80%;
  left: 0;
  width: 0 ;
  height: 2px;
  background: #000;
  transition: .3s;
}
.nav-link:hover::before{
  width: 95%;
}
#nav-link:hover::before{
  width: 90%;
}
#nav-link2:hover::before{
  width: 72%;
}

/* TEXTO DA LOGO */
#Texto_da_logo{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #6B4B21;
  font-size: 34px;
  text-decoration: none;
}
#Texto_da_logo:hover{
  color: white;
}
#princesa{
  width: 240px;
  margin-top: -350px;
  margin-left: 860px;
}
#bárbaro{
  width: 240px;
  margin-top: -90px;
  margin-left: -550px;
}

/* Atributo para tornar responsivel no celular */
@media screen and (max-width: 1000px) {
  .signup-container{
    margin-top: -200px;
    margin-left: 10px;
    height: 615px;
    width: 500px;
  }
  #cadatro{
    width: 458px;
  }
  #insta{
    margin-left:  140px;
  }
  #face{
    margin-left:  140px;
  }
  #zap{
    margin-left:  140px;
  }
  #mail{
    margin-left: 140px;
  }
  #testec{
    margin-left: 130px; 
  }
  #bárbaro{
    width: 150px;
    margin-top: -250px;
    margin-left: -100px;
  }
  .faixa-contact{
    width: 1012px;
  }
  #princesa{
    margin-left: 325px;
  }
  .faixa-contacto{
    width: 920px;
  }
  #testee_mobile{
    width: 730px;
  }
}
@media screen and (max-width: 500px) {
  #insta{
    margin-left:  150px;
  }
  #face{
    margin-left: 100px;
  }
  #zap{
    margin-left: 100px;
  }
  #mail{
    margin-left: 100px;
  }
  #testec{
    margin-left: 100px; 
  }
}
@media screen and (max-width: 400px) {
  #insta{
    margin-left:  100px;
  }
  #face{
    margin-left: 100px;
  }
  #zap{
    margin-left: 100px;
  }
  #mail{
    margin-left: 100px;
  }
  #testec{
    margin-left: 100px; 
  }
}
@media screen and (max-width: 375px) {
  #insta{
    margin-left: 60px;
  }
  #face{
    margin-left: 60px;
  }
  #zap{
    margin-left: 60px;
  }
  #mail{
    margin-left: 60px;
  }
  #testec{
    margin-left: 45px; 
  }
}
@media screen and (max-width: 300px) {
  #insta{
    margin-left:  0px;
  }
  #face{
    margin-left: 100px;
  }
  #zap{
    margin-left: 100px;
  }
  #mail{
    margin-left: 100px;
  }
  #testec{
    margin-left: 100px; 
  }
  .faixa-contact{
    width: 700px;
  }
}
/* ATRIBUTO PARA ALINHAR A MENSAGEM DE BEM-VINDO */
.bem-vindo{
  text-align: center;
}
/* IMAGENS DA PÁGINA "MINHA CONTA" */
#cadastro_imagem{
  margin-top: 20px;
  margin-left: 60px;
  width: 150px;
  height: 150px;
}
.borda_imagem{
  border: 4px solid;
  width: 270px;
  height: 210px;
  margin-top: 100px;
}

.texto_cadastro{
  margin-left: 38px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 34px;
}

#pedidos_imagem{
  margin-left: 17px;
  margin-top: -20px;
  width: 230px;
  height: 230px;
}

.borda_imagem1{
  border: 4px solid;
  width: 270px;
  height: 210px;
  margin-top: -278px;  
  margin-left: 500px;
}

.texto_pedidos{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 34px;
  margin-left: 580px;
}
#central{
  text-align: center;
}

.borda_imagem2{
  border: 4px solid;
  width: 270px;
  height: 210px;
  margin-top: -278px;  
  margin-left: 1080px;
}

#deletar_imagem{
  margin-left: 30px;
  margin-top: -10px;
  width: 230px;
  height: 230px;
}

.texto_deletar{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 34px;
  margin-left: 1150px;
}

/* IMAGEM DO LOGIN */
#icon_login{
  margin-left: 23px;
}

/* CSS DO MEU CADASTRO*/
#conta{
  width: 40px;
  height: 40px;
}
#menuzinho{
  margin-left: 100px;
  width: 240px;
  margin-top: -400px;
}
#pedidos{
  width: 40px;
  height: 40px;
}
#minhas_info{
  text-align: center;
}
.infos{
  margin-left: 100px;
}
.text_info{
  font-size: 24px;
  padding: 10px;
}
#botão{
  color:white;
}
#botão2{
  color: white;
  text-decoration: none;
}
=======
}
>>>>>>> origin/Juan
