/*CSS 1*/

body {
  font-family: sans-serif;
  background-color: #FFFFF0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FFFFF0;
}
/* Botão informações do produto(página comprar)*/
.btn{
  color: #393c3d;
  font-size: 20px;
}

.custom-btn {
    background-color: #6B4B21;
    color: #fff;
    /* Outros estilos do botão (opcional) */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: #543814; /* Cor mais escura ao passar o mouse (opcional) */
}

/* Espaco botão contato */
#esp{
  margin-top: 10px;
}




/*CSS 2*/

.login-container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
}

#botao_login{ 
  color: white;
  background-color: #6B4B21;
}
.plv{
  margin-top: 7px;
  margin-bottom: 5px;
  text-align: center;
}

#registro{
  color: #E25822;
  text-decoration: none;
  margin-left: 90px;
}
#entrar{
  color: #E25822;
  text-decoration: none;
  margin-left: 109px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}



.login-container input[type="submit"]:hover {
  background-color: #6B4B21;
}

.login-container p {
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
  margin-top: 0px;
  margin-left: 0px;
}

.signup-container {
  text-align: center;
    margin-bottom: 20px;
}

.signup-container input[type="text"],
.signup-container input[type="tel"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.signup-container input[type="submit"] {
  width: 100%;
    background-color: #6B4B21;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.signup-container input[type="submit"]:hover {
  background-color: #6B4B21;
}

/*CSS Navbar*/
/* CSS personalizado para o navbar */
.custom-navbar {
  background-color: burlywood; 
  color: #fff; /* Texto branco */
}


/* CSS Cards */

#testec{
  margin-left: 10px;
}
#textc{
  color: white;
  font-size: 18px;
  margin-left: 37px;
}
#textc:hover{
  color: black;
}
.card-text{
  text-align: center;
}
#card-text{
  text-align: center;
  font-weight: bold;
}
.card-title{
  text-align: center;
  font-weight: bold;
}

/* CSS Página Compra */

.pedi{
  text-align: center;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: bold;
}
#img-pedi{
  width: 250px;
  margin-left: 500px;
  margin-top: 60px;
}
.arrumartextopagcompra{
  margin-left: 750px;
  
}
.text-pedi{
  margin-left: 15px;
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
}
#aviso-compra{
  margin-left: 100px;
  margin-top: 100px;
}
#botao-comp{
  color: white;
  margin-left: 940px;
}
#botao-car{
  color: white;
  margin-left: 830px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.span-comp{
  font-weight: bold;
  margin-left: 10px;
}
a{
  color: #000000;
}

/*CSS Cards Informação Conta Cliente*/

.col-lg-3{
  display: inline-block;
}
#cardi1{
  margin-left: 150px;
}
#cardi2{
  margin-left: 30px;
}
#cardi3{
  margin-left: 30px;
}
#cardi4{
  margin-left: 30px;
}
#cardi5{
  margin-left: 30px;
}
#min-conta{
  margin-left: 500px;
}





/*IMAGEM DO VIKING DA NAVBAR*/


.logo-img {
  width: 78px; /* Defina o tamanho desejado para a largura */
  height: auto; /* A altura será ajustada proporcionalmente com base na largura */
}
#h1-index{
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
  margin-bottom: 20px;
} 

/* Efeito texto Navbar*/
.nav-link{
  position: relative;
  font-size: 20px;
  color: #6B4B21;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.nav-link::before{
  content: '';
  position: absolute;
  top: 80%;
  left: 0;
  width: 0 ;
  height: 2px;
  background: #000;
  transition: .3s;
}
.nav-link:hover::before{
  width: 95%;
}
#nav-link:hover::before{
  width: 90%;
}
#nav-link2:hover::before{
  width: 72%;
}

/* TEXTO DA LOGO */
#Texto_da_logo{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #6B4B21;
  font-size: 34px;
  text-decoration: none;
}
#Texto_da_logo:hover{
  color: white;
}


/* Atributo para tornar responsivel no celular */
@media (min-width: 1701px) and (max-width: 1800px){
  #rowtest{
    margin-left: 125px;
  }
}
@media (min-width: 1601px) and (max-width: 1700px){
  #rowtest{
    margin-left: 45px;
  }
}
@media (min-width: 1501px) and (max-width: 1600px){
  #rowtest{
    margin-left: 6px;
  }
}
@media (min-width: 1401px) and (max-width: 1501px){
  #rowtest{
    margin-left: 95px;
  }
}
@media (min-width: 1301px) and (max-width: 1400px){
  #rowtest{
    margin-left: 56px;
  }
  #margintop{
    margin-top: 900px;
  }
}
@media (min-width: 1101px) and (max-width: 1300px){
  #rowtest{
    margin-left: 105px;
  }
}
@media (min-width: 1001px) and (max-width: 1100px){
  #rowtest{
    margin-left: 65px;
  }
}
@media (min-width: 923px) and (max-width: 1000px) {
  .signup-container{
    margin-top: -200px;
    margin-left: 10px;
    height: 615px;
    width: 500px;
  }
  #cadatro{
    width: 458px;
  }
  .faixa-contact{
    width: 1012px;
  }
  .faixa-contacto{
    width: 920px;
  }
  #testee_mobile{
    width: 986px;
  }
  #rowtest{
    margin-left: 185px;
  }
}
@media (min-width: 900px) and (max-width: 922px){
  #rowtest{
    margin-left: 300px;
  }
}
@media (min-width: 800px) and (max-width: 830px) {
  #rowtest{
    margin-left: 220px;
  }
  #h1-index{
    margin-left: 30px;
  }
}
@media (min-width: 700px) and (max-width: 799px) {
  #rowtest{
    margin-left: 50px;
  }

}
@media (min-width: 621px) and (max-width: 699px){
  #rowtest{
    margin-left: 20px;
  }
  }
@media (min-width: 600px) and (max-width: 620px) {
  #testec{
    margin-left: 120px; 
  }
}
@media (min-width: 500px) and (max-width: 525px){
  #rowtest{
    margin-left: 125px;
  }
}
@media (min-width: 526px) and (max-width: 599px){
  #rowtest{
    margin-left: 150px;
  }
}
@media (min-width: 461px) and (max-width: 499px){
  #rowtest{
    margin-left: 80px;
  }
}
@media (min-width: 421px) and (max-width: 460px){
  #rowtest{
    margin-left: 70px;
  }
}
@media (min-width: 300px) and (max-width: 420px){
  #rowtest{
    margin-left: 50px;
  }
}
@media screen and (max-width: 300px) {
  #testec{
    margin-left: 100px; 
  }
  .faixa-contact{
    width: 700px;
  }
}
/* ATRIBUTO PARA ALINHAR A MENSAGEM DE BEM-VINDO */
.bem-vindo{
  text-align: center;
}
/* IMAGENS DA PÁGINA "MINHA CONTA" */
#cadastro_imagem{
  margin-top: 20px;
  margin-left: 60px;
  width: 150px;
  height: 150px;
}
.borda_imagem{
  border: 4px solid;
  width: 270px;
  height: 210px;
  margin-top: 100px;
}

.texto_cadastro{
  margin-left: 38px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 34px;
}

#pedidos_imagem{
  margin-left: 17px;
  margin-top: -20px;
  width: 230px;
  height: 230px;
}

.borda_imagem1{
  border: 4px solid;
  width: 270px;
  height: 210px;
  margin-top: -278px;  
  margin-left: 500px;
}

.texto_pedidos{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 34px;
  margin-left: 580px;
}
#central{
  text-align: center;
}

.borda_imagem2{
  border: 4px solid;
  width: 270px;
  height: 210px;
  margin-top: -278px;  
  margin-left: 1080px;
}

#deletar_imagem{
  margin-left: 30px;
  margin-top: -10px;
  width: 230px;
  height: 230px;
}

.texto_deletar{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 34px;
  margin-left: 1150px;
}

/* IMAGEM DO LOGIN */
#icon_login{
  margin-left: 23px;
}

/* CSS DO MEU CADASTRO*/
#conta{
  width: 40px;
  height: 40px;
}
#menuzinho{
  margin-left: 100px;
  width: 240px;
  margin-top: -400px;
}
#pedidos{
  width: 40px;
  height: 40px;
}
#minhas_info{
  text-align: center;
}
.infos{
  margin-left: 100px;
}
.text_info{
  font-size: 24px;
  padding: 10px;
}
#botão{
  color:white;
}
#botão2{
  color: white;
  text-decoration: none;
}
#rowtest{
  margin-left: 40px;
}

/*Espaçamento entre botão e rodapé página de contato*/
#expacin{
  margin-bottom: 10px;
}
#h2-contacto{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  margin-left: 350px;
  margin-bottom: 30px;
}

/*CSS Página Novidade*/
#espaconovidad{
  margin-bottom: 70px;
}
#h1-novid{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}
.h1-card-novid{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.span-novid{
  font-weight: bolder;
}


/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */


.nav-link{
  position: relative;
  font-size: 20px;
  color: #6B4B21;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.nav-link::before{
  content: '';
  position: absolute;
  top: 80%;
  left: 0;
  width: 0 ;
  height: 2px;
  background: #000;
  transition: .3s;
}
.nav-link:hover::before{
  width: 95%;
}
#nav-link:hover::before{
  width: 90%;
}
#nav-link2:hover::before{
  width: 72%;
}
