h1{
  margin-left: 800px;
  margin-top: -250px;
}
#email{
  margin-left: 800px;
}
.teste{
  margin-left: -200px;
}
#cadastrar{
  margin-left: 100px;
  margin-top: -200px;
}
h3{
  margin-left: 350px;
}
#centralizar{
  margin-left: 550px;
}
#central{
  margin-left: 100px;
}
#central2{
  margin-left: 100px;
}
#central3{
  margin-left: 100px;
}
#central4{
  margin-left: 100px;
}
#central5{
  margin-left: 100px;
}
#central6{
  margin-left: 100px;
}
#centralizar2{
    margin-left: 600px;
}
#centralizar3{
    margin-left: 600px;
}
#centralizar4{
    margin-left: 600px;
}
#centralizar5{
  margin-left: 600px;
}
#centralizar6{
  margin-left: 600px;
}